@font-face {
    font-family: "huangyou";
    src: url("huangyou.ttf");
}

@font-face {
    font-family: "lianmengqiyilushuaizhengruiheiti";
    src: url("lianmengqiyilushuaizhengruiheiti.ttf");
}

@font-face {
    font-family: "yejingshuzi";
    src: url("yejingshuzi.TTF");
}